.preto_texto{
    width: 794 px;
    color: #000;
    font-family: Inder;
    font-size: 50 px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.marquinho {
width: 679 px;
height: 412 px;
flex-shrink: 0;
}

.cabecalho {
width: 1616 px;
height: 933 px;
flex-shrink: 0;
background: #FF0000;
 text-align:center;

}


.bateria_eletronica{
width: 721 px;
height: 581 px;
text-align: right;
}

.bateria_eletronica_identificação{
text-align: right;
color: #000;
font-family: Inter;
font-size: 40 px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
